{% extends 'base/base.html' %}

{% block css %}

   <style>
     .singletask{
        background-color: #212529;
    }
    .status{
        font-size: 0.85rem !important;
        color: white;
        padding: 0.55rem;
        border-radius: 10px;
        margin-left: 1rem;
        font-weight: 600;
    }
    
    .green{
        background-color: green;
    }
    .red{
        background-color: red;
    }
    .created_at{
        font-size: 0.85rem;
    }
    p {
        margin: 0.25rem;
    }
    p .headins{
        font-size: 1rem;
    }
    
   </style>

{% endblock %}

{% block body %}
<div id="tasklist" class="d-flex flex-column justify-content-center align-items-center my-5">
    <h2 class="mb-2">OAuth Credential Management</h2>

    {% include 'base/alerts.html' %}

    {% if oauth_credentials %}
        {% for cred in oauth_credentials %}
        <div class="d-flex justify-content-between py-3 pe-3 w-100 singletask rounded-3 border border-1 border-white gap-4">
            <h2 class="d-flex justify-content-center align-items-center mx-3">{{forloop.counter}}.</h2>
            <div class="w-75 ">
                <h3>{{cred.name}} {%if cred.is_default == True%} <span class="status green">In Use</span>{% endif %}</h3>   
                <p><span class="headins">Domain Name : </span>{{cred.domain_name}}</p>
                <p><span class="headins">Client ID : </span>{{cred.client_id}}</p>
                <p><span class="headins">Client Secret : </span>{{cred.client_secret}}</p>
                <p class="created_at">Created On : {{cred.created_at}}</p>

            </div>
            <div class="w-25 d-flex flex-wrap justify-content-center gap-2 align-items-center ">
                {%if cred.is_default == False%}
                    <a href="{% url 'change_credential' id=cred.id %}" class="btn btn-success" style="height: 40px;">Make default</a>
                {% endif %}
                <a href="{% url 'edit_credential' id=cred.id %}" class="btn btn-success" style="height: 40px;">Edit</a>
                {%if cred.is_default == False%}
                <a href="{% url 'delete_credential' id=cred.id %}" class="btn btn-success" style="height: 40px;">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="text-center py-3 pe-3 ps-1 w-75 singletask rounded-3 border border-1 border-white">
        <h4>No Credentials Created...</h4>
    </div>
    {% endif %}
    
    <div class="my-5">
        <a href="{% url 'add_credential' %}" class="btn btn-warning py-3 px-3">Add New</a>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const showMessages = ()=>{
        messageDivElement = document.getElementById("message_div")
        messageDivElement.style.visibility = "hidden"
    }
    setTimeout(showMessages, 5000)
</script>
{% endblock %}